.calculadora{
display: block;
margin:0 auto ;
padding: 20px;
background-color: rgb(134, 134, 192) ;
width: 450px;
height: 600px;
border-radius: 25px;

}

.calculadora td button{
    display: block;
    width: 85px;
    height: 85px;
    font-size: 27px;
}
#resultado{
   display: block;
   text-align: center;
   font-size: 40px;
   margin-bottom: 50px;
   width: 400px;
   height: 100px;
   line-height: 100px;
   background-color: rgb(248, 247, 245);
   border-radius: 25px;
   overflow-y: scroll;
 
}


